/* * {
    margin: 0.5;
    padding: 0;
} */

/* body {
    background-color: #afc4ec;
} */


body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; 
    background-color: rgb(0, 0, 0);
}

li a {
    display: block;
    color:#ffffff;
    width: 60px;
    text-decoration: none;
    padding: 8px 16px;
}

li a:hover {
    background-color: #f341be;
    color: black;
    font-style: italic;
    transition: 0.5s;
}

h1 {
    color: #f341be;
    background-color: aquamarine;
    /* font-size: small; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: green;
}

/* #apples {
    color:blue
}

#balloons {
    background-color: darkgoldenrod;
} */

.textBox {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

p {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blueviolet;
    font-size: 0.9rem;
    color:aliceblue;
    
    
}

img {
    display: flex;
    height: 7rem;
    width: 200px;

}

img:hover {
    transform: rotate(35deg);
    transition: 1s;
}

.hide {
    display: flex;
    margin-left: 250px;
    color:#ffffff;
}

img:hover + .hide {
    display: block;
    color: darkgreen;
}

.dinoText {
    background-color: #f341be;
    color:#f341be;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: gray
}

